Debug/*
*.fig
*.zip

Release/*
.vs
*.aps
*.csv
docs/*
*.user
data/
data_*
desiredPath*
*.asv
*.pptx

BodyTracker-Debug.sln
test
CalibSolverReport.txt

*.obj
*.res
*.pdb
*.idb
*.tlog*
*.log
*.exe
*.ilk
*.iobj
*.ipdb
