Debug/*
!Debug/AriaDebugVC15.dll
!Debug/ceres.dll
!Debug/libglog.dll
*.fig
*.zip

Release/*
!Release/AriaVC15.dll
.vs
*.aps
*.csv
docs/*
*.user
data/
data_*
desiredPath*
*.asv
*.pptx

BodyTracker-Debug.sln
test
sophus/
CalibSolverReport.txt

*.obj
*.res
*.pdb
*.idb
*.tlog*
*.log
*.exe
*.ilk
x64/Debug/config.txt
*.iobj
*.ipdb
